.quote-list h1 {
  color: #000;
  font-size: 40px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 50px;  
}

.quote-list h1 + p {
  font-size: 16px;
  font-weight: 400;
  color: #000;  
}

.customer-quote-wrap {
  border-bottom: 1px solid rgba(0, 0, 0, .3);
  padding-top: 40px;
  padding-bottom: 40px;
}

.customer-quote-wrap:first-of-type {
  padding-top: 0;
}

.customer-quote-wrap:last-of-type {
  border-bottom: none;
}

.quote-details {
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 800px;
  display: block;
}

.quote-details.quote-form-sending > h2,
.quote-details.quote-form-sending > form {
  opacity: 0.2;
  pointer-events: none;
 -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
  transition: all .5s;
}

.customer-details > h2,
.quote-details h2 {
  color: #000;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 30px;
}

.customer-details > p {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;  
}

.customer-details > p select {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  outline: none !important;
  max-width: 120px;
  font-size: 14px;
  font-weight: 400;
  margin-left: 10px;
}

.quote-details h3 {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 10px;
}

.quote-details p {
  color: #000;
  font-size: 16px;
}

.quote-details .quote-details-item {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.quote-details .quote-details-item:first-of-type {
  padding-top: 0;
}

.quote-details .quote-details-item:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}

.quote-details-item .quote-product-notes {
  flex: 0 0 400px;
  text-align: left;
  align-self: stretch;
}

.quote-details-item .quote-product-notes textarea {
  width: 100%;
  padding: .75rem;
  resize: none;
  height: 100%;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  min-height: 80px;
  background-color: transparent;
  border: 1px solid #000;
  outline: none;
  box-shadow: none;
}

.quote-details-item .quote-product-close > * {
  cursor: pointer;
 -webkit-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  top: -12px;
} 

.quote-details .quote-details-item img {
  max-width: 85px;
}

.quote-details .quote-product-meta {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.quote-details .quote-product-meta label,
.quote-details .quote-product-notes label {
  color: #000;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 400;
}

.quote-details .quote-product-meta input {
  background: transparent;
  border: 1px solid #000;
  color: #000;
  outline: none;
  max-width: 100px;
  font-size: 14px;
  font-weight: 400;
  box-shadow: none;
}

.quote-details .quote-product-meta input:focus {
  background: transparent;
}

.quote-details .quote-contact {
  margin-top: 40px;
}

.quote-details .quote-contact {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
}

.quote-details .quote-contact h2 {
  flex: 0 1 100%;
}

.quote-details .quote-contact .form-field {
  flex: 1;
}

.quote-details .quote-contact input {
  width: 100%;
  color: #000;
  border: 1px solid #000;
  outline: none;
  padding: 15px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
}

.quote-details .quote-contact input:focus {
  background-color: transparent;
}

@media screen and ( max-width: 1000px ) {

  .quote-details h1 {
    font-size: 40px;
  }

  .quote-details h2 {
    font-size: 26px;
  }

  .quote-details h3 {
    font-size: 20px;
    margin-right: 20px;
  }
  
  .quote-details-item .quote-product-notes {
    flex: 0 1 100%;
    margin-top: 20px;
  }

  .quote-details-item .quote-product-notes textarea {
    min-height: 200px;
  }

  .quote-details .quote-details-item {
    position: relative;
  }

  .quote-details .quote-details-item:first-of-type {
    padding-top: 30px;
  }

  .quote-details-item .quote-product-close {
    position: absolute;
    right: 0;
    top: 25px;
  }

  .quote-details-item .quote-product-close > * {
    position: static;
  }

  .quote-details .quote-contact {
    row-gap: 20px;
  }

  .quote-details .quote-contact .form-field {
    flex: 0 1 100%;
  }

  .quote-contact h2 {
    margin-bottom: 0;
  }

}